<footer class="footer" [style.background-image]="userBg && 'url(' + userBg + ')'">
  <div class="container footer-container">
    <div class="footer-left">
      Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться
      ими со всем миром!
    </div>
    <button class="button-top">
      <svg class="button-top-image">
        <use xlink:href="assets/images/sprite.svg#top"/>
      </svg>
    </button>
    <div class="footer-right">
      2019 | Проект создан в учебных целях и не предполагает получение прибыли и финансовой
      выгоды
    </div>
  </div>
</footer>