<div class="user" *ngIf="profile">
  <div class="user__inner">
    <div class="user__ava">
      <img *ngIf="profile.avatar; else fallbackImg" [src]="profile.avatar" [alt]="userName">
      <ng-template #fallbackImg>
        <photobook-fallback-image></photobook-fallback-image>
      </ng-template>
      <div class="user__change-photo" *ngIf="isEdit" [@fadeIn]>
        <photobook-upload-image formControlName="{{avatarControl}}">
          Изменить фото
        </photobook-upload-image>
      </div>
    </div>

    <div class="user__info">
      <div class="user__name">
        <span *ngIf="!isEdit; else editName" [@fadeIn]>{{userName}}</span>
        <ng-template #editName>
          <span class="user__field" [@fadeIn]>
            <input class="user__control" type="text" formControlName="{{firstNameControl}}" placeholder="Имя">
            <input class="user__control" type="text" formControlName="{{lastNameControl}}" placeholder="Фамилия">
          </span>
        </ng-template>
      </div>
      <div class="user__desc">
        <span *ngIf="!isEdit; else editDesc" [@fadeIn]>{{profile.description}}</span>
        <ng-template #editDesc>
          <span class="user__field" [@fadeIn]>
            <textarea class="user__control" placeholder="описание" formControlName="{{descriptionControl}}"></textarea>
          </span>
        </ng-template>
      </div>
    </div>
  </div>
</div>