/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
@import './sass/mixins.scss';
@import './sass/variables.scss';
@import './sass/_reset.scss';
// @import './sass/_fonts.scss';

// footer down start
html,
body {
  height: 100%;
  @include proxima;
}

html {
  font-size: 16px;

  @media (min-width: 1950px) {
    font-size: 18px;
  }

  @media (min-width: 2300px) {
    font-size: 20px;
  }

  @media (min-width: 2600px) {
    font-size: 22px;
  }

  @media (min-width: 2900px) {
    font-size: 24px;
  }
}

input,
textarea {
  &:focus {
    box-shadow: 0 0 rem(2) rem(2) rgba($blue, 0.9);
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

/*-------------- common --------------*/
.container {
  width: 100%;
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 rem($container-padding);
}
/*-------------- common --------------*/

.button {
  outline: none;
  @include panton;
  color: $blue;
  font-weight: 700;
  font-size: rem(14);
  outline: none;
  cursor: pointer;
  display: block;
  padding: rem(15) rem(20) rem(14);
  transition: all $tranz;
  border: 0;
  border-radius: rem(30);
  background-color: transparent;
  @include custom-outline(#28bbf0);
}

.button-bg-blue {
  color: #fff;
  background-color: $blue;
  border: rem(1) solid $blue;

  &:hover {
    background-color: #fff;
    color: $blue;
  }

  &:disabled {
    background: #d8cfcf;
  }
}

.button-border {
  color: $blue;
  background-color: #fff;
  border: rem(1) solid $blue;

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  &--more {
    margin: 0 auto;
    margin-top: rem(20);
  }
}

.button-remove {
  color: #fff;
  background-color: $red;
  border: rem(1) solid $red;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #fff;
    color: $red;

    .icon {
      fill: $red;
    }
  }

  .photobook-icon {
    width: rem(16);
    height: rem(19);
    display: block;
    margin-right: rem(10);
    fill: #fff;
    transition: all $tranz;
  }
}

.big-title {
  @include panton;
  font-size: rem(42);
  font-weight: 700;
  color: #323232;
  text-align: center;
  width: 100%;
  margin: rem(25) auto rem(20);

  &-white {
    @include panton;
    font-size: rem(42);
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: rem(25) auto rem(20);
    color: #fff;
  }

  &-no-margin {
    margin: 0;
  }
}

@import './sass/modules/entry.scss';
.photobook-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-actions {
  position: absolute;
  top: rem(50);
  right: 0;

  .photobook-btn {
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-start;
  }
}

photobook-footer,
photobook-header {
  flex: 0 0 auto;
}

.photobook-main {
  flex: 1 0 auto;
}

.photobook-main {
  position: relative;

  &-title {
    @include panton;
    color: #323232;
    font-weight: 700;
    font-size: rem(42);
    line-height: lh(46, 42);

    &-result {
      @include panton;
      color: #323232;
      font-weight: 600;
      font-size: rem(22);
      line-height: lh(30, 22);
      margin-bottom: rem(30);
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.9);
    z-index: 1;
  }
}

.photobook-section {
  padding-top: rem(56);
  padding-bottom: rem(64);
}

.photobook-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(32);
}

.top-bar {
  height: rem(60);
  background-color: #e8e8e8;

  &__container {
    display: flex;
    height: 100%;
  }

  .photobook-search-control {
    align-self: center;
    margin-left: auto;
    max-width: rem(380);
  }
}

.dialog-open .photobook-dialog {
  overflow-x: hidden;
  overflow-y: auto;
}

.photo-view-content {
  padding: rem(32) rem(40) 0;
  width: 100%;
  max-width: rem(828);
  margin: 0 auto;

  .dialog-close {
    top: 0;
    right: 0;

    .photobook-icon {
      color: $white;
    }
  }
}

.common-dialog-content {
  width: 100%;
  max-width: rem(680);
  margin: 0 auto;
  border-radius: rem(4);
  overflow: hidden;

  .dialog-close {
    top: rem(21);
    right: rem(22);

    .photobook-icon {
      color: #a0a09f;
    }
  }
}

.common-dialog-head {
  padding: rem(24) rem(70) rem(24) rem(24);
  background-color: #f1f1f1;
  @include panton;
  @include fz(21, 21);
  font-weight: bold;
  color: $text-color;
}

.common-dialog-body {
  background-color: $white;
  padding: rem(40) rem(20) rem(40) rem(50);
}

.common-dialog-footer {
  padding: rem(24);
  background-color: #f1f1f1;
  display: flex;
  align-items: center;

  .button-bg-blue {
    margin-right: rem(16);
  }

  .button-remove {
    margin-left: auto;
  }
}

.photo-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(20);

  .photobook-photo-card {
    width: 33.3333%;
    padding: 0 rem(10);
    margin-bottom: rem(20);

    @include desktop-sm-down() {
      width: 50%;
    }

    @include phones-lg-down() {
      width: 100%;
    }
  }
}

.photos-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.albums {
  background-color: #f6f6f6;
}

.photo-albums {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(20);

  .photbook-photo-album {
    width: 25%;
    padding: 0 rem(10);
    margin-bottom: rem(20);

    @include desktop-down() {
      width: 33.3333%;
    }

    @include tablets-lg-down() {
      width: 50%;
    }

    @include phones-lg-down() {
      width: 100%;
    }
  }
}

.add-album-container {
  max-width: rem(680);
}