/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
@import './sass/mixins.scss';
@import './sass/variables.scss';
@import './sass/_reset.scss';
// @import './sass/_fonts.scss';

// footer down start
html,
body {
  height: 100%;
  @include proxima;
}

html {
  font-size: 16px;

  @media (min-width: 1950px) {
    font-size: 18px;
  }

  @media (min-width: 2300px) {
    font-size: 20px;
  }

  @media (min-width: 2600px) {
    font-size: 22px;
  }

  @media (min-width: 2900px) {
    font-size: 24px;
  }
}


a {
  &:hover {
    text-decoration: none;
  }
}

/*-------------- common --------------*/
.container {
  width: 100%;
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 rem($container-padding);
}
/*-------------- common --------------*/

.button {
  outline: none;
  @include panton;
  color: $blue;
  font-weight: 700;
  font-size: rem(14);
  outline: none;
  cursor: pointer;
  display: block;
  padding: rem(15) rem(20) rem(14);
  transition: all $tranz;
  border: 0;
  border-radius: rem(30);
  background-color: transparent;
  @include custom-outline(#28bbf0);
}

.button-bg-blue {
  color: #fff;
  background-color: $blue;
  border: rem(1) solid $blue;

  &:hover {
    background-color: #fff;
    color: $blue;
  }

  &:disabled {
    background: #d8cfcf;
  }
}

.button-border {
  color: $blue;
  background-color: #fff;
  border: rem(1) solid $blue;

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  &--more {
    margin: 0 auto;
    margin-top: rem(20);
  }
}

.button-remove {
  color: #fff;
  background-color: $red;
  border: rem(1) solid $red;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #fff;
    color: $red;

    .button-remove__icon {
      fill: $red;
    }
  }

  &__icon {
    width: rem(16);
    height: rem(19);
    display: block;
    margin-right: rem(10);
    fill: #fff;
    transition: all $tranz;
  }
}

.big-title {
  @include panton;
  font-size: rem(42);
  font-weight: 700;
  color: #323232;
  text-align: center;
  width: 100%;
  margin: rem(25) auto rem(20);

  &-white {
    @include panton;
    font-size: rem(42);
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: rem(25) auto rem(20);
    color: #fff;
  }

  &-no-margin {
    margin: 0;
  }
}

@import './sass/modules/entry.scss';
.photobook-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  &-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-title {
    @include panton;
    color: #323232;
    font-weight: 700;
    font-size: rem(42);
    line-height: lh(46, 42);
    margin-bottom: rem(32);

    &-result {
      @include panton;
      color: #323232;
      font-weight: 600;
      font-size: rem(22);
      line-height: lh(30, 22);
      margin-bottom: rem(30);
    }
  }

  &.is-header-edit {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #fff, $alpha: 0.9);
      z-index: 1;
    }
  }
}


