@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.entry-page {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/welcom-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-page-welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.big-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    &:first-child {
      font-size: rem(82);
    }
  }
}