<section class="photobook-section photos">
  <div class="container">
    <div class="photobook-head">
      <h2 class="photobook-main-title">Новое в мире</h2>
    </div>

    <div class="photo-cards">
      <photobook-photo-card
        *ngFor="let photo of photos" [photo]="photo"
        [album_title]="photo.album.title"
        [userProfile]="photo.user_profile"
        (onPhotoClick)="openPhotoDialog(photo)"
        [@fadeIn]></photobook-photo-card>
      <photobook-spinner position="absolute" *ngIf="pendingLoadPhotos"></photobook-spinner>
    </div>

    <div class="photos-actions">
      <button
        *ngIf="loadMore"
        (click)="loadMoreHandler()"
        type="button"
        class="button button-border">Показать еще</button>
    </div>
  </div>
</section>