$browser-context: 16; // Default
$desktop: 1200px;
$laptop: 1023px;
$tablets: 768px;
$tablets-min: 600px;
$phones: 480px;
$phones-min: 320px;
$tranz: 0.3s;
$white: #ffffff;
$black: #000000;
$red: #ee4634;
$blue: #28bbf0;
$text-color: #323232;
$header-pad-bot: 58;
$container-padding: 15;
$button-size: 22;
