<div class="common-dialog-content" *transloco="let t">
  <div class="common-dialog-head">
    <span *ngIf="action === actionCreate; else editTitle">
      {{ t('photobook.dialogs.addAlbum.title') }}
    </span>
    <ng-template #editTitle>
      <span>
        {{ t('photobook.dialogs.editAlbum.title') }}
      </span>
    </ng-template>
  </div>
  <form class="add-album-form" [formGroup]="form" (submit)="submitHandler()">
    <div class="common-dialog-body">
      <label class="add-album-form__field">
        <span class="add-album-form__label">{{ t('controls.name') }}</span>
        <input
          [ngClass]="
            form.get('title').invalid && form.get('title').touched && 'error'
          "
          class="form-control"
          type="text"
          placeholder="{{ t('controls.name') }}"
          formControlName="title"
        />
        <span
          class="add-album-form__error"
          *ngIf="form.get('title').invalid && form.get('title').touched"
          [@fadeIn]
        >
          <small *ngIf="form.get('title').errors.required">
            {{ t('errors.required') }}
          </small>
          <small *ngIf="form.get('title').errors.maxlength">
            {{
              t('errors.maxlength', {
                requiredLength: form.get('title').errors.maxlength
                  .requiredLength
              })
            }}
          </small>
        </span>
      </label>

      <label class="add-album-form__field">
        <span class="add-album-form__label">{{
          t('controls.description')
        }}</span>
        <textarea
          [ngClass]="
            form.get('description').invalid &&
            form.get('description').touched &&
            'error'
          "
          class="form-control"
          formControlName="description"
          placeholder="{{ t('controls.description') }}"
        ></textarea>
        <span
          class="add-album-form__error"
          *ngIf="
            form.get('description').invalid && form.get('description').touched
          "
          [@fadeIn]
        >
          <small *ngIf="form.get('description').errors.maxlength">
            {{
              t('errors.maxlength', {
                requiredLength: form.get('description').errors.maxlength
                  .requiredLength
              })
            }}
          </small>
        </span>
      </label>

      <div class="add-album-form__field">
        <div class="add-preview">
          <span
            class="add-preview__photo"
            [style.backgroundImage]="
              !imgPreview ? 'url(../../../../assets/images/picture.svg)' : null
            "
          >
            <img
              class="add-preview__img"
              *ngIf="imgPreview && !form.get('preview').invalid"
              [src]="imgPreview"
            />
          </span>
          <div class="add-preview__field">
            <label class="add-preview__file">
              <photobook-file-control
                (change)="setImagePreview($event)"
                class="add-preview__control"
                formControlName="preview"
              >
              </photobook-file-control>
              <span class="add-preview__label">Загрузить обложку</span>
            </label>
          </div>
        </div>
        <span
          class="add-preview__error"
          *ngIf="form.get('preview').invalid"
          [@fadeIn]
        >
          <small *ngIf="form.get('preview').errors.maxFileSize">{{
            t('errors.size', {
              fileMaxSize: form.get('preview').errors.maxFileSize.requiredLength
            })
          }}</small>
          <small *ngIf="form.get('preview').errors.requiredFileType">{{
            t('errors.type')
          }}</small>
        </span>
      </div>
    </div>

    <div class="common-dialog-footer">
      <button
        type="submit"
        [disabled]="form.invalid && form.touched"
        class="button button-bg-blue"
      >
        {{ t('buttons.save') }}
      </button>
      <button type="button" dialogClose class="button btn-white">
        {{ t('buttons.cancel') }}
      </button>
      <button
        type="button"
        *ngIf="album"
        (click)="removeAlbum(album.id)"
        class="button button-remove"
      >
        <span photobook-app-icon [icon]="removeIcon"></span>
        {{ t('buttons.remove') }}
      </button>
    </div>
  </form>
  <photobook-spinner *ngIf="pending"></photobook-spinner>
</div>
