<div class="photo-card">

  <div class="photo-card__top">
    <a href="#" class="photo-card__img" (click)="onPhotoClickHandler($event, photo)">
      <img [src]="photo.image" [alt]="photo.title">
      <span class="photo-card__img-zoom" photobook-icon [icon]="loupeIcon"></span>
    </a>
    <div class="photo-card__actions" *ngIf="!hasInfo">
      <button class="photo-card__action photo-card__action--noinfo" disabled>
        <span class="photo-card__action-ico" photobook-icon [icon]="commentIcon"></span>
        <span class="photo-card__action-num">9</span>
      </button>
      <!-- liked -->
      <button class="photo-card__action photo-card__action--noinfo" [ngClass]="" disabled>
        <span class="photo-card__action-ico" photobook-icon [icon]="likeIcon"></span>
        <span class="photo-card__action-num">22</span>
      </button>
    </div>
  </div>

  <div class="photo-card__middle" *ngIf="hasInfo">

    <div class="photo-card__info">
      <photobook-small-ava [user]="photo.user"
        [profile]="photo.user_profile"></photobook-small-ava>

      <div *ngIf="photo.title"
        class="photo-card__photo"
        title="{{photo.title}}">{{photo.title}}</div>

      <div class="photo-card__actions">
        <button class="photo-card__action">
          <span class="photo-card__action-ico" photobook-icon [icon]="commentIcon"></span>
          <span class="photo-card__action-num">9</span>
        </button>
        <!-- liked -->
        <button class="photo-card__action" [ngClass]="">
          <span class="photo-card__action-ico" photobook-icon [icon]="likeIcon"></span>
          <span class="photo-card__action-num">22</span>
        </button>
      </div>
    </div>

  </div>

  <div class="photo-card__bottom">
    <button *ngIf="!hasInfo && isAuthUser" class="photo-card__edit">
      <span photobook-icon [icon]="editIcon"></span>
    </button>

    <a [routerLink]="['/', 'photobook', 'user', photo.user_id, photo.album_id]" class="photo-card__album">
      <span class="photo-card__album-ico" photobook-icon [icon]="albumIcon"></span>
      {{photo.album.title}}
    </a>
  </div>
</div>