<photobook-fade *transloco="let t">
  <div class="big-title big-title-white">
    {{ t('profile.title') }}
  </div>

  <div class="entry-description">
    {{ t('profile.description') }}
  </div>

  <div class="entry-form-out">
    <form [formGroup]="form" (ngSubmit)="submit($event)" class="entry-form">
      <photobook-form-control
        inputName="first_name"
        [class]="
          form.get('first_name').invalid && form.get('first_name').touched
            ? 'form-control--invalid'
            : 'form-control--valid'
        "
        [className]="'form-control'"
        [icon]="userIcon"
        [iconPrefix]="true"
        [label]="t('controls.firstName') + '*'"
      >
        <span
          *ngIf="
            form.get('first_name').invalid && form.get('first_name').touched
          "
          class="form-control__error"
        >
          <small *ngIf="form.get('first_name').errors.required">{{
            t('errors.required')
          }}</small>
        </span>
      </photobook-form-control>

      <photobook-form-control
        inputName="last_name"
        [class]="
          form.get('last_name').invalid && form.get('last_name').touched
            ? 'form-control--invalid'
            : 'form-control--valid'
        "
        [className]="'form-control'"
        [icon]="userIcon"
        [iconPrefix]="true"
        [label]="t('controls.lastName') + '*'"
      >
        <span
          *ngIf="form.get('last_name').invalid && form.get('last_name').touched"
          class="form-control__error"
        >
          <small *ngIf="form.get('last_name').errors.required">{{
            t('errors.required')
          }}</small>
        </span>
      </photobook-form-control>

      <photobook-form-textarea
        inputName="description"
        [className]="'form-control'"
        [label]="t('controls.description')"
      >
      </photobook-form-textarea>

      <div class="entry-form-bottom">
        <div class="entry-form-actions">
          <button
            type="submit"
            [disabled]="form.invalid && form.touched"
            class="button button-bg-blue"
          >
            {{ t('buttons.save') }}
          </button>
        </div>
      </div>
    </form>
  </div>
</photobook-fade>
<photobook-spinner *ngIf="pending"></photobook-spinner>
