<photobook-spinner *ngIf="pending; else content"></photobook-spinner>
<ng-template #content>
  <section class="photobook-section albums">
    <div class="container">
      <div class="photobook-head">
        <h2 class="photobook-main-title">Мои альбомы</h2>
        <button *ngIf="currentUserProfile.id === authUserProfile.id" type="button" (click)="addAlbum()" [icon]="addIcon" photobook-ph-button>Добавить</button>
      </div>

      <div class="photo-albums">
        <photbook-photo-album
          *ngFor="let album of albums"
          [album]="album"
          (editClick)="addAlbum(album)"
          [editable]="currentUserProfile.id === authUserProfile.id"
          [@fadeIn]
          ></photbook-photo-album>
      </div>
    </div>
  </section>
</ng-template>