<photobook-spinner *ngIf="pending; else content"></photobook-spinner>

<ng-template #content>
  <header
    [currentUserProfile]="user"
    [authUserProfile]="authUserProfile"
    [isEdit]="isEdit"
    (onEditHandler)="editHandler($event)"
    photobook-header-user
  ></header>

  <div class="top-bar">
    <div class="container top-bar__container" *transloco="let t">
      <photobook-search-control
        placeholder="{{ t('') }}"
      ></photobook-search-control>
    </div>
  </div>

  <main class="photobook-main" *transloco="let t">
    <section class="photobook-section photos">
      <div class="container">
        <div class="photobook-head">
          <h2 class="photobook-main-title">
            {{ t('photobook.homeTitle') }}
          </h2>
        </div>

        <div class="photo-cards">
          <photobook-photo-card
            *ngFor="let photo of photos"
            [photo]="photo"
            [albumTitle]="photo.album.title"
            [userProfile]="photo.user_profile"
            [authUserProfile]="authUserProfile"
            (onPhotoClick)="openPhotoDialog($event)"
            [@fadeIn]
          ></photobook-photo-card>
          <photobook-spinner
            position="absolute"
            *ngIf="pendingLoadPhotos"
          ></photobook-spinner>
        </div>

        <div class="photos-actions">
          <button
            *ngIf="loadMore"
            (click)="getPhotos()"
            type="button"
            class="button button-border"
          >
            {{ t('buttons.showMore') }}
          </button>
        </div>
      </div>
    </section>

    <div class="photobook-main-overlay" *ngIf="isEdit" [@fadeIn]></div>
  </main>

  <footer photobook-footer [userBg]="user.cover" [isEdit]="isEdit"></footer>
</ng-template>
