<photobook-spinner *ngIf="pendingLoadUser; else content"></photobook-spinner>

<ng-template #content>
  <photobook-header-user
    [user]="user"
    [profile]="user.user_profile"
    (onEditHandler)="editHandler(isEdit)">
  </photobook-header-user>

  <div class="top-bar">
    <div class="container top-bar__container">
      <photobook-search-control placeholder="Исследовать мир"></photobook-search-control>
    </div>
  </div>

  <main class="photobook-main">

    <section class="photobook-section photos">
      <div class="container">
        <div class="photobook-head">
          <h2 class="photobook-main-title">Новое в мире</h2>
        </div>
        <div class="photo-cards">
          <photobook-spinner position="absolute" *ngIf="pendingLoadPhotos; else photosTmp"></photobook-spinner>
          <ng-template #photosTmp>
            <photobook-photo-card
              *ngFor="let photo of photos" [photo]="photo" [@fade]
              (onPhotoClick)="openPhotoDialog(photo)"
            ></photobook-photo-card>
          </ng-template>
        </div>
        <div class="photos-actions">
          <button (click)="loadMoreHandler()" type="button" class="button button-border">Показать еще</button>
        </div>
      </div>
    </section>

    <div class="photobook-main-overlay" *ngIf="isEdit" [@fade]></div>
  </main>

  <photobook-footer [userBg]="user.user_profile.cover"></photobook-footer>
  <ng-template dialogRef></ng-template>
</ng-template>