<div class="common-dialog-content">
  <div class="common-dialog-head">
    <span *ngIf="action === actionCreate; else editTitle">Добавить альбом</span>
    <ng-template #editTitle>
      <span>Редактировать альбом</span>
    </ng-template>
  </div>
  <form class="add-album-form" [formGroup]="form" (submit)="submitHandler()">
    <div class="common-dialog-body">
      <label class="add-album-form__field">
        <span class="add-album-form__label">Название</span>
        <input [ngClass]="form.get('title').invalid && form.get('title').touched && 'error'"
          class="form-control" type="text" placeholder="Название" formControlName="title">
        <span class="add-album-form__error" *ngIf="form.get('title').invalid && form.get('title').touched" [@fade]>
          <small *ngIf="form.get('title').errors.required">Поле должно быть заполнено</small>
          <small *ngIf="form.get('title').errors.maxlength">
            Превышена максимальная длина описания ({{form.get('title').errors.maxlength.requiredLength}} символов)
          </small>
        </span>
      </label>

      <label class="add-album-form__field">
        <span class="add-album-form__label">Описание</span>
        <textarea [ngClass]="form.get('description').invalid && form.get('description').touched && 'error'"
          class="form-control" formControlName="description" placeholder="Описание"></textarea>
        <span class="add-album-form__error" *ngIf="form.get('description').invalid && form.get('description').touched" [@fade]>
          <small *ngIf="form.get('description').errors.maxlength">
            Превышена максимальная длина описания ({{form.get('description').errors.maxlength.requiredLength}} символов)
          </small>
        </span>
      </label>

      <div class="add-album-form__field">

        <div class="add-preview">
          <span class="add-preview__photo"
            [style.backgroundImage]="!imgPreview
              ? 'url(../../../../assets/images/picture.svg)'
              : null"
            >
            <img
              class="add-preview__img"
              *ngIf="imgPreview && !form.get('preview').invalid"
              [src]="imgPreview">
          </span>
          <div class="add-preview__field">
            <label class="add-preview__file">
              <photobook-file-control
                (change)="setImagePreview($event)"
                class="add-preview__control"
                formControlName="preview"
              >
              </photobook-file-control>
              <!-- <input
                (change)="setImagePreview($event)"
                photobook-file-control
                class="add-preview__control"
                formControlName="preview"> -->
              <span class="add-preview__label">Загрузить обложку</span>
            </label>
          </div>
        </div>
        <span class="add-preview__error" *ngIf="form.get('preview').invalid" [@fade]>
          <small *ngIf="form.get('preview').errors.maxFileSize">(файл должен быть размером не более 5mb)</small>
          <small *ngIf="form.get('preview').errors.requiredFileType">неверное расширение файла, только png, jpg, jpeg</small>
        </span>

      </div>
    </div>

    <div class="common-dialog-footer">
      <button type="submit" [disabled]="form.invalid && form.touched" class="button button-bg-blue">Сохранить</button>
      <button type="button" dialogClose class="button btn-white">Отменить</button>
      <button type="button"
        *ngIf="album"
        (click)="removeAlbum(album.id)" class="button button-remove">
        <span photobook-app-icon [icon]="removeIcon"></span>
        Удалить
      </button>
    </div>
  </form>
  <photobook-spinner *ngIf="pending"></photobook-spinner>
</div>