<photobook-fade *transloco="let t">
  <div class="big-title big-title-white">
    {{ t('login.title') }}
  </div>
  <div class="entry-description">
    {{ t('login.description') }}
  </div>

  <div class="entry-form-out">
    <form [formGroup]="form" (ngSubmit)="submit($event)" class="entry-form">
      <photobook-form-control
        inputName="email"
        [class]="
          form.get('email').invalid && form.get('email').touched
            ? 'form-control--invalid'
            : 'form-control--valid'
        "
        [className]="'form-control'"
        [icon]="envelopeIcon"
        [iconPrefix]="true"
        [label]="t('controls.email') + '*'"
        [type]="'email'"
      >
        <span
          *ngIf="form.get('email').invalid && form.get('email').touched"
          class="form-control__error"
        >
          <small *ngIf="form.get('email').errors.required">{{
            t('errors.required')
          }}</small>
          <small *ngIf="form.get('email').errors.email">{{
            t('errors.email')
          }}</small>
        </span>
      </photobook-form-control>

      <photobook-form-control
        inputName="password"
        [class]="
          form.get('password').invalid && form.get('password').touched
            ? 'form-control--invalid'
            : 'form-control--valid'
        "
        [className]="'form-control'"
        [icon]="passwordIcon"
        [iconPrefix]="true"
        [label]="t('controls.password') + '*'"
        [type]="'password'"
      >
        <span
          *ngIf="form.get('password').invalid && form.get('password').touched"
          class="form-control__error"
        >
          <small *ngIf="form.get('password').errors.required">{{
            t('errors.required')
          }}</small>
          <small *ngIf="form.get('password').errors.minlength">
            {{
              t('errors.minlength', {
                requiredLength: form.get('password').errors.minlength
                  .requiredLength
              })
            }}
          </small>
        </span>
      </photobook-form-control>

      <div class="entry-form-bottom">
        <div class="entry-form-actions">
          <button
            type="submit"
            [disabled]="form.invalid && form.touched"
            class="button button-bg-blue"
          >
            {{ t('buttons.login') }}
          </button>

          <button
            type="button"
            [routerLink]="['/register']"
            class="button button-white"
          >
            {{ t('buttons.register') }}
          </button>
        </div>

        <div class="entry-form-info">
          <a [routerLink]="['/restore']" class="welcome__form-recovery">
            {{ t('buttons.member') }}
          </a>
        </div>
      </div>
    </form>
  </div>
</photobook-fade>
<photobook-spinner *ngIf="pending"></photobook-spinner>
