@import '../../../../sass/mixins.scss';
@import '../../../../sass/variables.scss';

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($black, 0.9);
}

.dialog {
  position: relative;
  width: 100%;
  pointer-events: none;
  outline: 0;
  margin: 1.75rem auto;
  min-height: calc(100% - (1.75rem * 2));

  @media (max-width: 575.98px) {
    margin: .5rem;
    min-height: calc(100% - (.5rem * 2));
  }

  &.dialog-centered {
    display: flex;
    align-items: center;
  }

  &-content {
    width: 100%;
    position: relative;
    pointer-events: auto;

    & > * {
      background-clip: padding-box;
    }
  }

  &-close {
    position: absolute;
    width: rem(24);
    height: rem(24);
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    transition: opacity 0.2s;
    outline: none;

    &:hover {
      opacity: 1;
    }

    .photobook-icon {
      width: 100%;
      height: 100%;
    }
  }
}

