<div class="container header__container" *transloco="let t">
  <div class="header__inner" [formGroup]="profileForm">
    <photobook-user
      firstNameControl="first_name"
      lastNameControl="last_name"
      descriptionControl="description"
      avatarControl="avatar"
      [isEdit]="isEdit"
      [profile]="user"
      [@fadeIn]
    ></photobook-user>
    <div class="header-actions" *ngIf="!isEdit; else userBg" [@fadeIn]>
      <span class="header-actions__inner">
        <button
          *ngIf="isAuth"
          type="button"
          (click)="editHandler(true)"
          [icon]="editIcon"
          photobook-ph-button
        >
          {{ t('buttons.edit') }}
        </button>
        <button
          type="button"
          (click)="logOut()"
          [icon]="logOutIcon"
          photobook-ph-button
        >
          {{ t('buttons.logout') }}
        </button>
        <a
          *ngIf="!isAlbums"
          [routerLink]="[authUserProfile.id]"
          [icon]="albumIcon"
          photobook-ph-button
        >
          {{ t('buttons.albums') }}
        </a>
        <a
          *ngIf="isAlbums"
          [routerLink]="['/']"
          [icon]="homeIcon"
          photobook-ph-button
        >
          {{ t('buttons.home') }}
        </a>
      </span>
    </div>
    <ng-template #userBg>
      <photobook-upload-image formControlName="cover" [@fadeIn]>
        {{ t('changeBg') }}
      </photobook-upload-image>
    </ng-template>
  </div>
</div>
<div class="edit-bar" *ngIf="isEdit" [@fadeIn]>
  <div class="container">
    <div class="edit-bar__content" *transloco="let t">
      <div class="edit-bar__actions">
        <button
          type="button"
          (click)="editHandler(false)"
          class="button btn-white"
        >
          {{ t('buttons.cancel') }}
        </button>
        <button
          type="button"
          (click)="updateProfileHandler()"
          class="button button-bg-blue"
        >
          {{ t('buttons.save') }}
        </button>
      </div>
    </div>
  </div>
</div>

<photobook-spinner position="absolute" *ngIf="pending"></photobook-spinner>
