<photobook-spinner *ngIf="pending; else content"></photobook-spinner>

<ng-template #content>
  <header
    photobook-header-album
    [currentUserProfile]="currentUserProfile"
    [authUserProfile]="authUserProfile"
    [album]="album"
    (onEditHandler)="editHandler($event)"
    (onAddPhotoHandler)="addPhotoHandler()"
    [isAuthUser]="isAuth"
    [isEdit]="isEdit"
    *ngIf="!pendingLoadAlbum"
  ></header>

  <div class="top-bar" *transloco="let t">
    <div class="container top-bar__container">
      <div class="photo-stat">
        <div class="photo-stat__item">
          {{ photosLength }} {{ t('stat.photo') }}
        </div>

        <div class="photo-stat__item">
          {{ likesLength }} {{ t('stat.like') }}
        </div>

        <div class="photo-stat__item">
          {{ commentsLength }} {{ t('stat.comment') }}
        </div>
      </div>
    </div>
  </div>

  <main class="photobook-main" *transloco="let t">
    <section class="photobook-section photos">
      <div class="container">
        <div class="photo-cards">
          <photobook-photo-card
            *ngFor="let photo of photos"
            [photo]="photo"
            [isAuthUser]="isAuth"
            [hasInfo]="false"
            [userProfile]="currentUserProfile"
            [authUserProfile]="authUserProfile"
            (onPhotoClick)="openPhotoDialog($event)"
            (onEditClick)="openEditPhotoDilaog($event)"
            [@fadeIn]
          ></photobook-photo-card>
          <photobook-spinner
            position="absolute"
            *ngIf="pendingLoadPhotos"
          ></photobook-spinner>
        </div>
        <div class="photos-actions">
          <button
            *ngIf="loadMore"
            (click)="loadPhotos(album.id)"
            type="button"
            class="button button-border"
          >
            {{ t('buttons.showMore') }}
          </button>
        </div>
      </div>
    </section>

    <div class="photobook-main-overlay" *ngIf="isEdit" [@fadeIn]></div>
  </main>

  <footer
    photobook-footer
    [userBg]="
      album && album.preview ? album.preview : 'assets/images/default-bg.jpg'
    "
    [isEdit]="isEdit"
  ></footer>

  <!-- <div class="top-bar top-bar--fixed">
    <div class="container top-bar__container" *transloco="let t">
      <a
        class="header-user"
        [routerLink]="['/photobook', currentUserProfile.id]"
      >
        <span
          class="header-user__ava"
          photobook-small-ava
          [avatar]="
            currentUserProfile.avatar ? currentUserProfile.avatar : null
          "
          [userName]="getName"
        >
          <span class="header-user__name">{{ getName }}</span>
        </span>
        <span class="header-user__name">{{ getName }}</span>
      </a>

      {{ album.title }}

      <a
        [routerLink]="['/', 'photobook']"
        [icon]="homeIcon"
        photobook-ph-button
      >
        {{ t('buttons.home') }}
      </a>
    </div>
  </div> -->
</ng-template>
