@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photo-stat {
  display: flex;
  align-items: center;
  margin: 0 auto;

  &__item {
    @include fz(16, 24);
    font-weight: 600;
    color: $text-color;
    margin-right: rem(32);

    &:last-child {
      margin-right: 0;
    }
  }
}

.top-bar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // font-size: rem(21);
  // font-family: "Proxima Nova";
  // color: $text-color;
  // line-height: 1.4;
}

.header-user {
  display: flex;
  align-items: center;

  &__name {
    @include panton;
    font-size: rem(14);
    font-weight: 700;
    color: $text-color;
  }

  &__ava {
    margin-right: rem(10);
    color: $blue;
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;
    width: rem(48);
    height: rem(48);
  }
}
