<div class="common-dialog-content" *transloco="let t">
  <div class="common-dialog-head">
    <span>
      {{ t('photobook.dialogs.editPhotos.title') }}
    </span>
  </div>
  <form class="edti-photo-form" [formGroup]="form" (submit)="submitHandler()">
    <div class="common-dialog-body">
      <label class="edti-photo-form__field">
        <span class="edti-photo-form__label">{{ t('controls.name') }}</span>
        <input
          [ngClass]="
            form.get('title').invalid && form.get('title').touched && 'error'
          "
          class="form-control"
          type="text"
          placeholder="{{ t('controls.name') }}"
          formControlName="title"
        />
        <span
          class="edti-photo-form__error"
          *ngIf="form.get('title').invalid && form.get('title').touched"
          [@fade]
        >
          <small *ngIf="form.get('title').errors.required">{{
            t('errors.required')
          }}</small>
          <small *ngIf="form.get('title').errors.maxlength">
            {{
              t('errors.maxlength', {
                requiredLength: form.get('title').errors.maxlength
                  .requiredLength
              })
            }}
          </small>
        </span>
      </label>

      <label class="edti-photo-form__field">
        <span class="edti-photo-form__label">{{
          t('controls.description')
        }}</span>
        <textarea
          [ngClass]="
            form.get('description').invalid &&
            form.get('description').touched &&
            'error'
          "
          class="form-control"
          formControlName="description"
          placeholder="{{ t('controls.description') }}"
        ></textarea>
        <span
          class="edti-photo-form__error"
          *ngIf="
            form.get('description').invalid && form.get('description').touched
          "
          [@fade]
        >
          <small *ngIf="form.get('description').errors.maxlength">
            {{
              t('errors.maxlength', {
                requiredLength: form.get('description').errors.maxlength
                  .requiredLength
              })
            }}
          </small>
        </span>
      </label>
    </div>

    <div class="common-dialog-footer">
      <button
        type="submit"
        [disabled]="form.invalid && form.touched"
        class="button button-bg-blue"
      >
        {{ t('buttons.save') }}
      </button>
      <button type="button" dialogClose class="button btn-white">
        {{ t('buttons.cancel') }}
      </button>
      <button
        type="button"
        *ngIf="photo"
        (click)="removePhoto(photo.album_id, photo.id)"
        class="button button-remove"
      >
        <span photobook-app-icon [icon]="removeIcon"></span>
        {{ t('buttons.remove') }}
      </button>
    </div>
  </form>
  <photobook-spinner *ngIf="pending"></photobook-spinner>
</div>
